In [8]:
#Create Tables
import psycopg2
import os
from dotenv import load_dotenv
load_dotenv()
with psycopg2.connect(os.environ['POSTGRE_PASSWORD1']) as conn:
    with conn.cursor() as cursor:
        sql='''
        CREATE TABLE IF NOT EXISTS Taipei_Ubike_Stations(
	        Station_ID VARCHAR(10),
	        Station_Name VARCHAR(30)NOT NULL,
	        District VARCHAR(10)NOT NULL,
	        Address VARCHAR(100),
	        Lat NUMERIC(15,11),
	        Lng NUMERIC(15,11),
	        PRIMARY KEY (Station_ID)
        );

        CREATE TABLE IF NOT EXISTS Ubike_Status(
	        DATE TIMESTAMP,
	        Station_ID VARCHAR(10),
	        Bike_Amount INTEGER,
	        Borrow_Avail INTEGER,
	        RETURN_Avail INTEGER,
	        Activity BOOLEAN,
	        PRIMARY KEY(DATE,Station_ID),
	        FOREIGN KEY(Station_ID) REFERENCES Taipei_Ubike_Stations(Station_ID)
	        ON DELETE CASCADE
	        ON UPDATE CASCADE
        );      
        '''
        cursor.execute(sql)
print('Tables have been created successfully.')

Tables have been created successfully.

In [7]:
#Insert Values
with psycopg2.connect(os.environ['POSTGRE_PASSWORD1']) as conn:
    with conn.cursor() as cursor:
        sql='''
            INSERT INTO Taipei_Ubike_Stations
            VALUES (%s,%s,%s,%s,%s,%s)
            ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,('500101001','YouBike2.0_捷運科技大樓站','大安區','復興南路二段235號前',25.02605,121.5436))

        sql = '''
            INSERT INTO Ubike_Status
            VALUES (%s,%s,%s,%s1,%s,%s)
            ON CONFLICT DO NOTHING;
        '''
        cursor.execute(sql,('2024-04-27 13:49:32','500101001',28,1,27,True))
print('Values have been inserted successfully.')

Values have been inserted successfully.