In [1]:
#Create Virtual Environment
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
#Connect to Database
import psycopg2
import os
conn = psycopg2.connect(os.environ['POSTGRE_PASSWORD'])
conn.commit()
conn.close()

In [6]:
#By using "With as", the commit()and Close() will run automatically
#The cursor commands have to be indented under'with'
with psycopg2.connect(os.environ['POSTGRE_PASSWORD']) as conn:
    cursor = conn.cursor()
    sql = '''
        CREATE TABLE IF NOT EXISTS Product_List(
        Product_ID SERIAL,
        Product_Name VARCHAR(250)
        );
'''
    cursor.execute(sql)
    sql = '''
        CREATE TABLE IF NOT EXISTS Employee_List(
        Emoloyee_ID SERIAL,
        Employee_Name VARCHAR(250)
        );
'''
    cursor.execute(sql)
    cursor.close()